@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');


:root{
    --sm-font: 'Open Sans', sans-serif;
    --lg-font: 'Roboto', sans-serif;
    --red: #FF0000;
}



body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--red)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(38, 42, 43);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid  rgb(38, 42, 43);
}

.btn:not(.nav-btns button):hover{
    background-color:rgb(1, 215, 243);
    color: #fff;
    border-color: rgb(1, 215, 243);
}

/* navbar */
nav{
    display: flex;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar .container a img{
    width: 120px;
}

.icons{
   margin-left: 500px;
   margin-top: 30px;
}

#navMenu{
    margin-left: -70rem;
    margin-top: -50px;
}

/* .nav-link{
    text-decoration: none;
    color: var(--red)!important;
    border: 1px solid black;
} */

.nav-link:hover{
    /* border: 1px solid black; */
    color: rgb(1, 215, 243) !important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}
/* end of navbar */

/* header */
#header{
    background: url(./images/banner2.jpg) top/cover no-repeat;
    padding-top: 104px;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
    color: rgb(1, 215, 243) !important;
}
.carousel-inner h2{
    color: rgb(0, 3, 3) !important; 
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: rgb(1, 215, 243) !important;
}
.carousel-control-prev span{
    color: black;
    
    /* background-color: #FF0000; */
}

/* collection */
 .title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color:rgb(1, 215, 243) !important ;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
 }
 .active-filter-btn{
    background-color: rgb(1, 215, 243) !important ;
    color: #fff;
    border-color: rgb(1, 215, 243) !important ;
 }
 .collection-img .mt-n5{
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background-color: rgb(1, 215, 243) !important ;
    margin: -200px 0 0 0;
 }
 .con {
    margin-top: 180px;
 }

 .text-primary{
    color: rgb(1, 215, 243) !important ;;
 }
/* end of collection */

/* speccial */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img image{
    transition: all 0.3s ease;
}
.special-img:hover img{
     transition: scale(1.2);
}

/* offer */
#offers{
    background: url(./images/banner1.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}
/* end of offer */

/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color:rgb(1, 215, 243) !important  ;
    color: #fff;
    border-color: rgb(1, 215, 243) !important ;
}
#newsletter .btn:hover{
    background-color: #000  !important ;
    border-color: #000  !important ;
}
/* end of newsletter */

/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    transition: color 0.3s ease;
}
footer a:hover{
    color: rgb(1, 215, 243) !important;
}
/* end of footer */

/* preloader */
#preloader{
    background: #fff url(./images/Loading_icon.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
/* end of preloader */